:root {
    --bg: #0f172a;       /* background */
    --bg-2: #1e293b;     /* sections / navbar */
    --primary: #2563EB;  /* bleu boutons */
    --text: #e2e8f0;     /* texte clair */
    --muted: #94a3b8;    /* texte secondaire */
    --link_color:#3B82F6; /* couleurs des liens */
    --btn_txt_color:#fff; /* couleurs textes boutton*/
    --family:Montserrat;   /* famille principale */
    --family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    --family-title: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    --hero-overlay: rgba(15, 23, 42, 0.7);
    }

body {
    background: var(--bg);
    color: var(--text);
    transition: 1s ease;
}



/* Navbar */

.nav-link {
    color: var(--link_color);
    text-decoration: none;
    }
.nav-link:hover {
    color: var(--text);
    text-decoration: underline;
    }

#logoIMG {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/* Hero background */
.hero {
    position: relative;
    min-height: 100dvh;
    padding: 100px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
        linear-gradient(var(--hero-overlay), var(--hero-overlay)),
        url("../img/hero-bg2.jpg") no-repeat center center;
    background-size: cover;
}


.bg-portfolio {
background: var(--bg);
}

.bg-portfolio-2 {
background: var(--bg-2);
}



/* Footer */
.footer-link {
    color: var(--link_color);
    text-decoration: none;
    }
.footer-link:hover {
    color: var(--text);
    text-decoration: underline;
    }



/* Boutons */
.btn-portfolio {
background: var(--primary);
border-color: var(--primary);
color: var(--btn_txt_color);
}
.btn-portfolio:hover {
    background: red;
    filter:brightness(0.6);
    color: var(--btn_txt_color);
}


.btn-outline-portfolio {
    border-color: var(--primary);
    color: var(--text);
}
.btn-outline-portfolio:hover {
    background: var(--primary);
    color: var(--btn_txt_color);
}



/* Textes */
h1{
    font-family: var(--family-title);
}

h1,
h2{
    color: var(--text);
}

h2,
p
{
    color: var(--muted);
    font-family: var(--family);
}

/* LightMode*/
.light{
    --bg : #ffffff;
    --bg-2 : #78acff;
    --primary: #d8d8da;
    --text : #000;
    --muted : #000000;
    --link_color:#dae6fa;
    --btn_txt_color:#000;
    --hero-overlay: rgba(114, 138, 196, 0.7);
}


/* media queries */
@media (max-width: 768px) {
    .hero{
        min-height: 80vh;
        height: auto;
        padding: 80px 20px;
    }
    #logoIMG {
    width: 35px;
    height: 35px;
  }
}